<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a
      class="navbar-brand"
      href="https://training.zuri.team/"
      target="_blank"
      referrerpolicy="no-referrer"
    >
      <img src="/assets/hng-logo.jpeg" alt="" width="30" height="24" />
    </a>
    <a class="btn btn-header" href="#contact" role="button">Contact</a>
  </div>
</nav>
